In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [5]:
df = pd.read_csv('data-final.csv', sep='\t')

In [6]:
df = df.iloc[0:100000]

In [7]:
df

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4.0,2.0,2.0,2.0,4.0,2.0,4.0,2.0,2.0,2.0,...,2016-05-24 01:25:51,1280.0,1024.0,4.0,239.0,13,3,US,38.0,-97.0
99996,4.0,3.0,3.0,1.0,4.0,4.0,3.0,3.0,4.0,5.0,...,2016-05-24 01:25:55,1280.0,800.0,39.0,196.0,20,1,IN,20.0,77.0
99997,3.0,1.0,5.0,1.0,4.0,1.0,3.0,5.0,4.0,3.0,...,2016-05-24 01:26:54,1920.0,1080.0,5.0,257.0,12,1,US,38.2603,-85.7032
99998,5.0,1.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,1.0,...,2016-05-24 01:27:16,781.0,439.0,14.0,278.0,12,1,GB,51.5,-0.13
99999,3.0,1.0,4.0,3.0,4.0,2.0,3.0,3.0,4.0,4.0,...,2016-05-24 01:27:29,1745.0,1091.0,10.0,186.0,14,1,US,47.6062,-122.3321

In [8]:
df.to_csv('piplined_data.csv')